name: Build

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions:
  id-token: write
  pages: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-bindgen
        uses: jetli/wasm-bindgen-action@v0.2.0
        with:
          # Sync version with `Cargo.toml`
          version: "0.2.99"

      - name: Install wasm-opt
        run: sudo apt-get install -y binaryen

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Build examples
        run: make examples-release

      - name: Setup GitHub Pages
        if: github.event_name == 'push'
        uses: actions/configure-pages@v5

      - name: Upload Pages artifact
        if: github.event_name == 'push'
        uses: actions/upload-pages-artifact@v3
        with:
            path: dist

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push'
        uses: actions/deploy-pages@v4
